.carrito-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

.lista1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f2f2f2;
}

.boton4 {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton4:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

input[type="number"] {
  width: 40px;
  text-align: center;
}

p {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.boton4-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.boton4 {
  flex: 1;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin: 5px;
}

.boton4:hover {
  background-color: #45a049;
}
