body {
    background-color: #F4EEE0;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

.link {
    text-decoration: none;
    color: #F4EEE0;
}

.item {
    margin-right: 6rem;
    padding: 5px 15px;
    border-radius: 100px;
}

.item:hover {
    background-color: #4d3466;
}

.item:active {
    transform: scale(0.97);
}

.palabra1 {
    font-family: 'Dosis', sans-serif;
    color: #393646;
    position: absolute;
    top: 40vh; 
    left: 0.5vw; 
}

.palabra2, .palabra3 {
    font-family: 'Dosis', sans-serif;
    color: #393646;
    font-size: 5vw; 
    opacity: 40%;
}

.palabra2 {
    position: absolute;
    top: 30vh;
    left: 104vh;
    transform: translateX(-48%);
}

.palabra3 {
    position: absolute;
    top: 40vh;
    left: 104vh;
    transform: translateX(-46%);
}

.pad1{
    position: absolute;
    max-width: 15vw; 
    right: 10vh;
}

.pad1 {
    top: 20vh;
    left: 70%;
}

.pad2 {
    top: 30vh;
    left: 85%;
}

.pad3 {
    top: 50vh;
    left: 65%;
}

.pad4 {
    top: 60vh;
    left: 80%;
}

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    color: #F4EEE0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.3vw; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.boton1 {
    position: absolute;
    top: 53vh;
    right: 17vw; 
    background-color: #4F4557;
    padding: 10px 30px;
    border: none;
    color: #F4EEE0;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
    transition: all 0.2s ease;
    overflow: hidden;
}

.boton1:active {
    transform: scale(0.96);
}

.boton1:hover {
    color: #fff;
}

.boton1 span {
    position: absolute;
    background: #07c0ee;
    transition: 0.5s;
}

.boton1 span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

.boton1 span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

.boton1 span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.boton1 span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.boton1:hover span:nth-child(1) {
    left: 0;
}

.boton1:hover span:nth-child(2) {
    right: 0;
}

.boton1:hover span:nth-child(3) {
    bottom: 0;
}

.boton1:hover span:nth-child(4) {
    top: 0;
}
