.sectionMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #674483;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding: 10px; 
}

.divlogotitle {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.imglogo {
  max-width: 50px;
  border-radius: 50%;
  background-image: url("../../multimedia/Bemust.png");
}

.h1title {
  margin-left: 1rem;
  color: white;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: white; 
  text-decoration: none; 
  font-size: 1rem;
}

.navbar a:hover {
  color: #07c0ee; 
}


@media (max-width: 768px) {
  .sectionMain {
      flex-direction: column; 
  }

  .navbar {
      flex-direction: column; 
  }
}


  