
.footer {
  background-color: #4F4557;
  color: #fff;
  padding: 25px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 50px;
  position: absolute;
  bottom: 10px;
  left: 30px;
  top: 30px;
}

.footer-social {
  position: absolute;
  bottom: 10px;
  right: 20px; 
  display: flex;
  gap: 10px;
  top: 40px;
}

.footer-social a {
  color: #fff;
  font-size: 24px;
  margin: 0;
  text-decoration: none;
  transition: color 0.3s ease;
}


.facebook-icon:hover {
  color: #1877f2; 
}


.instagram-icon:hover {
  color: #000000; 
}


.youtube-icon:hover {
  color: #ff0000;
}


.footer-description p {
  font-size: 20px;
  margin-top: 10px;
  color: rgb(255, 220, 200);
}

@media (max-width: 767px) {
  .footer-logo img {
    max-width: 30px;
  }

  .footer-social a {
    font-size: 18px;
  }

  .footer-description p {
    font-size: 16px;
  }

  .footer-social {
    bottom: 10px;
    right: 30px; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}






