/* Estilo general del footer */
.footer {
  background-color: #4F4557;
  color: #F4EEE0;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

/* Contenedor del footer */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between; /* Distribuye espacio entre los elementos */
  align-items: center;
}

/* Logo del footer */
.footer-logo {
  flex: 0.5; /* Permite que el logo esté a la izquierda */
  text-align: left; /* Alinea el logo a la izquierda */
}

.footer-logo img {
  max-width: 80px; /* Tamaño máximo del logo */
}

/* Iconos de redes sociales */
.footer-social {
  flex: 1; /* Permite que los íconos estén a la derecha */
  text-align: right; /* Alinea los íconos a la derecha */
}

.footer-social a {
  color: #F4EEE0;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-social a:hover {
  color: #07c0ee; /* Color al pasar el ratón */
}

/* Descripción del footer */
.footer-description {
  flex: 2; /* Ajusta el espacio para la descripción */
  text-align: center;
}

.footer-description p {
  margin: 0;
  font-size: 1rem;
  color: #F4EEE0;
}




